<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419776805627-6cnt3jr99bqsr8l532dk5e4ffnsl29fr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419776805627-6cnt3jr99bqsr8l532dk5e4ffnsl29fr</string>
	<key>API_KEY</key>
	<string>AIzaSyBgMaIH7kWI0N5glcU5Ob24WXdbiX5Dhwk</string>
	<key>GCM_SENDER_ID</key>
	<string>419776805627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oa.lms</string>
	<key>PROJECT_ID</key>
	<string>schoolv3-ff229</string>
	<key>STORAGE_BUCKET</key>
	<string>schoolv3-ff229.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419776805627:ios:81127251b3977903cbce5e</string>
	<key>DATABASE_URL</key>
	<string>https://schoolv3-ff229.firebaseio.com</string>
</dict>
</plist>